/* Global css */
h1,
h2,
h3,
h4,
p {
    font-family: 'Work Sans', sans-serif;
}

* {
    margin: 0 auto;
}

/* Banner section */
.banner-section {
    background: url(../images/banner/banner3.png) no-repeat;
    background-size: cover;
    text-align: right;
    color: #fff;
    padding: 220px 0 285px;
}

.banner-content {
    max-width: 1440px;
}

.heading {
    font-size: 65px;
}

.heading-paragraph {
    font-size: 18px;
    margin: 30px 0;
    line-height: 25px;
}

.btn-primary {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    padding: 25px 35px;
    border-radius: 5px;
    border: none;
    color: #005FAC;
    font-weight: 700;
    margin-top: 20px;
}

/* Feature section */
.feature-section {
    max-width: 1440px;
    display: flex;
    padding: 170px 0;
    /* justify-content: space-between; */
    gap: 250px;
}

.feature-section h2 {
    font-size: 40px;
    margin-top: 200px;
}

.feature-paragraph {
    font-size: 21px;
    margin: 27px 0 25px;
    line-height: 31px;
    padding-right: 100px;
}

.feature-list p {
    color: #444343;
    font-size: 18px;
    margin-top: 15px;
}

.feature-section p .fa-solid {
    color: #8BEBC3;
    font-size: 21px;
}

/* Plan section */
.plan-section {
    max-width: 1440px;
    text-align: center;
}

.plan-section h2 {
    font-size: 40px;
    margin-bottom: 50px;
}

.plan-content {
    display: flex;
}

.plan-content h3 {
    font-size: 30px;
    margin: 25px 0 10px;
}

.plan-content p {
    color: #737272;
    font-size: 21px;
}

/* Call now section */
.call-section {
    max-width: 1440px;
    text-align: left;
    margin-top: 100px;
}

.call-content {
    position: relative;
    background: url(../images/watch.png) no-repeat;
    background-size: cover;
    padding: 75px 0 75px 75px;
    z-index: 1;
    
}
.call-content::after{
    content: "";
    position: absolute;
    /* background: #0096ff; */
    background-image: linear-gradient(to right, #005FAC , #005fac00);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 10px;
   
}
.call-content h2{
    font-size: 40px;
    color: #fff;
}
/* Footer section */
footer{
    background-color: #151414;
    margin-top: 100px;
    padding: 150px 0;
}
.footer-content{
    display: flex;
}
.footer-content h2{
    color: #fff;
    font-size: 40px;
}
.footer-content p{
    font-size: 21px;
    color: #fff;
    line-height: 31px;
    margin: 25px 0;
}
.footer-content h3{
    color: #fff;
    font-size: 29px;
}
.email-input{
    padding: 20px 25px;
    width: 75%;
    margin: 25px 0;
    font-family: 'Work Sans', sans-serif;
    /* color: #fff; */
    background: transparent;
    border: 1px solid #fff;
    border-radius: 7px;
}
.email-input::placeholder{
    color: #fff;
}
.btn-subscribe{
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    padding: 25px 35px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    color: #fff;
    background-color: #005FAC;
}
.social-icons{
    padding-right: 15px;
}
